div.container{
    border: 3px solid black;

    display: flex;
    flex-wrap: wrap;
    
}

.box{
    /* width: 100px; */
    height: 200px;
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;  */
    flex: 1 1 200px;
}

.box1{
    
    background-color: salmon;
}
.box2{
    
    background-color: sandybrown;
}
.box3{
    
    background-color: seagreen;
}
.box4{
    
    background-color: slategray;
}
.box5{
    
    background-color: steelblue;
}